<div class='chec'  id="<%= dom_id recipe %>">

      <h1 class="text-center py-3" > <%= recipe.name%> </h1>
  <div class="d-flex justify-content-between align-items-center m-0 pb-3" >


      <div class="d-flex gap-2 align-items-center" >
        <strong>Preparation time:</strong>      
        <%= recipe.preparation_time %> <p class='m-0' >hour</p>            </div>    

      <div class='d-flex gap-3' >
          <label class="form-check-label" for="">
            Public:
          </label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="">
        </div>        
      </div>
  </div>
  


  <div class='mb-3'  >
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>    
  </div>  

  <h3 class='pb-3' >
    steps go here...
  </h3>

  <div class='d-flex  justify-content-between pb-3' >
    <button type="button" class="btn btn-primary">Generate shopping list</button>
    <button type="button" class="btn btn-primary">Add ingredient</button>
  </div>
  

  <hr class='bg-white py-1 rounded' >

  <div class="table-responsive check">
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th class="text-center "  scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr class="">
          <td scope="row">R1C1</td>
          <td>R1C2</td>

          <td> 
            value
          </td>            

          <td class='d-flex gap-3 justify-content-center ' >  
            <a href="#">modify</a>           
            <a href="modify">remove</a>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
  

  <hr>

</div>
